<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>ConsultaCartorio</title>
    <!-- BOOTSTRAP -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card text-center">
                    <div class="card-header" style="background-color:#0d56a7;">
                        <h3>
                            Cartórios participantes
                        </h3>
                    </div>
                    <div class="card-body" id="seletor">
                        <!-- select dos estados -->
                        <div class="row">
                            <div class="col-2">
                                <label>UF</label>
                                <select v-model="CarSelected" class="form-select" aria-label="Default select example">
                                    <option value="AC">AC</option>
                                    <option value="AL">AL</option>
                                    <option value="AP">AP</option>
                                    <option value="AM">AM</option>
                                    <option value="BA">BA</option>
                                    <option value="CE">CE</option>
                                    <option value="DF">DF</option>
                                    <option value="ES">ES</option>
                                    <option value="GO">GO</option>
                                    <option value="MA">MA</option>
                                    <option value="MT">MT</option>
                                    <option value="MS">MS</option>
                                    <option value="MG">MG</option>
                                    <option value="PA">PA</option>
                                    <option value="PB">PB</option>
                                    <option value="PR">PR</option>
                                    <option value="PE">PE</option>
                                    <option value="PI">PI</option>
                                    <option value="RJ">RJ</option>
                                    <option value="RN">RN</option>
                                    <option value="RS">RS</option>
                                    <option value="RO">RO</option>
                                    <option value="RR">RR</option>
                                    <option value="SC">SC</option>
                                    <option value="SP">SP</option>
                                    <option value="SE">SE</option>
                                    <option value="TO">TO</option>
                                </select>
                            </div>
                        </div>
                        </br>
                        <!-- TABELA -->
                        <div class="row" >
                            <div class="col">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>UF</th>
                                            <th>Cartório</th>
                                            <th>CNS</th>
                                            <th>Telefone</th>
                                            <th>E-mail</th>
                                            <th>Municípios atendidos</th>
                                        </tr>
                                    </thead>
                                    <tbody >
                                        <tr v-for="item in cartorios" :value="item" :key="item.UF">
                                            <td>{{item.UF}}</td>
                                            <th>{{item.Cartorio}}</th>
                                            <td>{{item.CNS}}</td>
                                            <td>{{item.Fone}}</td>
                                            <td>{{item.email}}</td>
                                            <td>{{item.Cidade}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- FECHAR -->
                    <div class="card-footer text-muted">
                        <button type="button" class="btn btn-primary float-right">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script>
    <script src="cartorios.js"></script>
    <script module>
        
       new Vue ({
        data: {
            AllCart: cartorios, 
            CarSelected: null
        }, 
        computed: {
            cartorios() {
                return this.AllCart.filter((el) => el.UF == this.CarSelected)
            }
        }
       }).$mount("#seletor");

    </script>
</body>

</html>