body {
    background-image: url(https://img.freepik.com/fotos-premium/vista-de-modernos-arranha-ceus-negocio-vidro-e-ceu-vista-paisagem-de-predios-comerciais_39665-83.jpg?w=2000);
}

.card {
    margin-top: 50px;
}

.card-header {
    color: white;
    font-family: 'Montserrat', sans-serif;
}